<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="Build">
   <PropertyGroup>
		<OutDir>$(MSBuildStartupDirectory)\build</OutDir>
		<NuGetDir>$(MSBuildStartupDirectory)\nuget</NuGetDir>
		<NuGetBetaDir>$(MSBuildStartupDirectory)\nuget-beta</NuGetBetaDir>
		<SolutionProperties>
					Platform=Any CPU;
					Configuration=Release
		</SolutionProperties>
   </PropertyGroup>
	<ItemGroup>
		<Solution Include="src/SharpDox.sln">
			<Properties>
				$(SolutionProperties)
			</Properties>
		</Solution>
					
		<LanguageFiles Include="lang/*"/>
		
		<ShellFiles Include="src/Shells/SharpDox.GUI/bin/Release/SharpDox.GUI.exe;
			src/Shells/SharpDox.GUI/bin/Release/SharpDox.GUI.exe.config;
			src/Shells/SharpDox.Console/bin/Release/SharpDox.Console.exe;
			src/Shells/SharpDox.Console/bin/Release/SharpDox.Console.exe.config"/>	
		
		<LibraryFiles Include="src/Core/SharpDox.Core/bin/Release/Autofac.dll;
			src/Core/SharpDox.Core/bin/Release/log4net.dll;
			src/Core/SharpDox.Core/bin/Release/SharpDox.Build.dll;
			src/Core/SharpDox.Core/bin/Release/SharpDox.Build.Roslyn.dll;
			src/Core/SharpDox.Core/bin/Release/SharpDox.Model.dll;
			src/Core/SharpDox.Core/bin/Release/SharpDox.Sdk.dll;
			src/Core/SharpDox.Core/bin/Release/SharpDox.Core.dll;			
			src/Libraries/SharpDox.UML/bin/Release/SharpDox.UML.dll;"/>
			
		<AdditionalFiles Include="CHANGELOG.txt"/>	
		
		<NugetSpecFile Include="sharpDox SDK.nuspec"/>		
		<NugetFiles Include="src/Core/SharpDox.Core/bin/Release/SharpDox.Model.dll;
			src/Core/SharpDox.Core/bin/Release/SharpDox.Sdk.dll;
			src/Libraries/SharpDox.UML/bin/Release/SharpDox.UML.dll"/>
		<NugetPackage Include="SharpDox.SdkPackage*"/>
		
		<NugetBetaSpecFile Include="sharpDox SDK-beta.nuspec"/>		
		<NugetBetaFiles Include="src/Core/SharpDox.Core/bin/Release/SharpDox.Model.dll;
			src/Core/SharpDox.Core/bin/Release/SharpDox.Sdk.dll;
			src/Libraries/SharpDox.UML/bin/Release/SharpDox.UML.dll"/>
		<NugetBetaPackage Include="SharpDox.SdkPackage*"/>
		
	</ItemGroup>
	<Target Name="Build">
		<RemoveDir Directories="$(OutDir)" />
		<MSBuild Projects="@(Solution)" Targets="Clean;Build" />		
		<Copy SourceFiles="@(ShellFiles)" DestinationFolder="$(OutDir)" />
		<Copy SourceFiles="@(LibraryFiles)" DestinationFolder="$(OutDir)\libs" />
		<Copy SourceFiles="@(LanguageFiles)" DestinationFolder="$(OutDir)\lang" />
		<Copy SourceFiles="@(AdditionalFiles)" DestinationFolder="$(OutDir)" />
		
		<Copy SourceFiles="@(NugetSpecFile)" DestinationFolder="$(NuGetDir)" />
		<Copy SourceFiles="@(NugetFiles)" DestinationFolder="$(NuGetDir)\lib\net40" />
		<Exec Command="..\nuget.exe pack %22sharpDox SDK.nuspec%22" WorkingDirectory="$(NuGetDir)"/>
		<RemoveDir Directories="$(NuGetDir)\lib\" />
		
		<Copy SourceFiles="@(NugetBetaSpecFile)" DestinationFolder="$(NuGetBetaDir)" />
		<Copy SourceFiles="@(NugetBetaFiles)" DestinationFolder="$(NuGetBetaDir)\lib\net40" />
		<Exec Command="..\nuget.exe pack %22sharpDox SDK-beta.nuspec%22" WorkingDirectory="$(NuGetBetaDir)"/>
		<RemoveDir Directories="$(NuGetBetaDir)\lib\" />
	</Target>
</Project>