<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="Build">
   <PropertyGroup>
		<OutDir>$(MSBuildStartupDirectory)\build</OutDir>
		<SolutionProperties>
					Platform=Any CPU;
					Configuration=Release
		</SolutionProperties>
   </PropertyGroup>
	<ItemGroup>
		<Solution Include="src/SharpDox.sln">
			<Properties>
				$(SolutionProperties)
			</Properties>
		</Solution>
		
		<MainFiles Include="src/SharpDox.Core/bin/Release/SharpDox.Core.exe;
			src/SharpDox.Core/bin/Release/SharpDox.Core.exe.config"/>
					
		<LanguageFiles Include="lang/*"/>
		
		<ShellFiles Include="src/Shells/SharpDox.GUI/bin/Release/SharpDox.GUI.dll;
			src/Shells/SharpDox.Console/bin/Release/SharpDox.Console.dll"/>	
		
		<LibraryFiles Include="src/SharpDox.Core/bin/Release/Autofac.Configuration.dll;
			src/SharpDox.Core/bin/Release/Autofac.dll;
			src/SharpDox.Core/bin/Release/ICSharpCode.NRefactory.Cecil.dll;
			src/SharpDox.Core/bin/Release/ICSharpCode.NRefactory.CSharp.dll;
			src/SharpDox.Core/bin/Release/ICSharpCode.NRefactory.dll;
			src/SharpDox.Core/bin/Release/ICSharpCode.NRefactory.Xml.dll;
			src/SharpDox.Core/bin/Release/log4net.dll;
			src/SharpDox.Core/bin/Release/Mono.Cecil.dll;
			src/SharpDox.Core/bin/Release/SharpDox.Build.dll;
			src/SharpDox.Core/bin/Release/SharpDox.Build.NRefactory.dll;
			src/SharpDox.Core/bin/Release/SharpDox.Config.dll;
			src/SharpDox.Core/bin/Release/SharpDox.ConsoleHelper.dll;
			src/SharpDox.Core/bin/Release/SharpDox.Local.dll;
			src/SharpDox.Core/bin/Release/SharpDox.Model.dll;
			src/SharpDox.Core/bin/Release/SharpDox.Sdk.dll;
			src/SharpDox.Core/bin/Release/SharpDox.UML.dll"/>
			
		<AdditionalFiles Include="CHANGELOG.txt"/>	
		
	</ItemGroup>
	<Target Name="Build">
		<RemoveDir Directories="$(OutDir)" />
		<MSBuild Projects="@(Solution)" Targets="Clean;Build" />		
		<Copy SourceFiles="@(MainFiles)" DestinationFolder="$(OutDir)" />
		<Copy SourceFiles="@(LibraryFiles)" DestinationFolder="$(OutDir)\libs" />
		<Copy SourceFiles="@(ShellFiles)" DestinationFolder="$(OutDir)\shells" />
		<Copy SourceFiles="@(LanguageFiles)" DestinationFolder="$(OutDir)\lang" />
		<Copy SourceFiles="@(AdditionalFiles)" DestinationFolder="$(OutDir)" />
	</Target>
</Project>