<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="Build">
   <PropertyGroup>
		<TmpDir>$(MSBuildStartupDirectory)\tmp</TmpDir>
		<OutDir>$(MSBuildStartupDirectory)\build</OutDir>
		<SolutionProperties>
					OutDir=$(TmpDir);
					Platform=Any CPU;
					Configuration=Release
		</SolutionProperties>
   </PropertyGroup>
	<ItemGroup>
		<Solution Include="src/SharpDox.sln">
			<Properties>
				$(SolutionProperties)
			</Properties>
		</Solution>
		<MainFiles Include="$(TmpDir)/SharpDox.Core.exe;$(TmpDir)/SharpDox.Core.exe.config"/>
		<LanguageFiles Include="src/Languagefiles/*"/>
		<ShellFiles Include="$(TmpDir)/SharpDox.GUI.dll;$(TmpDir)/SharpDox.Console.dll"/>		
		<LibraryFiles Include="$(TmpDir)/Autofac.Configuration.dll;
			$(TmpDir)/Autofac.dll;
			$(TmpDir)/ICSharpCode.NRefactory.Cecil.dll;
			$(TmpDir)/ICSharpCode.NRefactory.CSharp.dll;
			$(TmpDir)/ICSharpCode.NRefactory.dll;
			$(TmpDir)/ICSharpCode.NRefactory.Xml.dll;
			$(TmpDir)/log4net.dll;
			$(TmpDir)/Mono.Cecil.dll;
			$(TmpDir)/SharpDox.Build.dll;
			$(TmpDir)/SharpDox.Build.NRefactory.dll;
			$(TmpDir)/SharpDox.Config.dll;
			$(TmpDir)/SharpDox.ConsoleHelper.dll;
			$(TmpDir)/SharpDox.Local.dll;
			$(TmpDir)/SharpDox.Model.dll;
			$(TmpDir)/SharpDox.Sdk.dll;
			$(TmpDir)/SharpDox.UML.dll"/>
		<AdditionalFiles Include="CHANGELOG.txt"/>	
	</ItemGroup>
	<Target Name="Build">
		<RemoveDir Directories="$(OutDir)" />
		<MSBuild Projects="@(Solution)" Targets="Clean;Build" />		
		<Copy SourceFiles="@(MainFiles)" DestinationFolder="$(OutDir)" />
		<Copy SourceFiles="@(LibraryFiles)" DestinationFolder="$(OutDir)\libs" />
		<Copy SourceFiles="@(ShellFiles)" DestinationFolder="$(OutDir)\shells" />
		<Copy SourceFiles="@(LanguageFiles)" DestinationFolder="$(OutDir)\lang" />
		<Copy SourceFiles="@(AdditionalFiles)" DestinationFolder="$(OutDir)" />
		<RemoveDir Directories="$(TmpDir)" />
	</Target>
</Project>