<div id="footer-left">{{{footerLine}}}</div>
<div id="footer-right">
  {{#homepage}}<a href="{{homepage}}" title="{{projectName}}" target="_blank">{{projectName}}</a>{{/homepage}}
  {{^homepage}}{{projectName}}{{/homepage}} {{version}}
  {{#author}}- {{author}}{{/author}} - {{generatedBy}} <a href="http://sharpdox.de" title="sharpDox" target="_blank">sharpDox</a>
</div>