<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="FileTarget" xsi:type="File" fileName="console-log.txt" encoding="utf-8" layout="${longdate} |${pad:padding=5:inner=${level:uppercase=true}} | ${message}"
              maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="console-log.{#######}.txt" />
      <target xsi:type="Debugger" name="DebuggerTarget"  layout="${logger}::${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="FileTarget, DebuggerTarget" />
    </rules>
  </nlog>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="NLogTraceListener" type="NLog.NLogTraceListener, NLog" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="libs"/>
    </assemblyBinding>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
